/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

@font-face {
    font-family: Ailerons;
    src: url("Ailerons-Typeface.otf") format("opentype");
}
/* .centralize{
  margin: 0 auto;
  width: auto;
} */
@font-face {
    font-family: Blanka;
    src: url("Raxtor-Regular.otf") format("opentype");
}

.nav li{
  font-family: Blanka !important;
}

/* Full Page Carousel itself*/
.carousel {
  height: 100%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 18px;
  
}
  /* rgba(0, 0, 0, 0.2) */

.top-nav-collapse {
  background-color: #150f21; }


/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #150f21; }
