/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

@font-face {
    font-family: Ailerons;
    src: url("Ailerons-Typeface.otf") format("opentype");
}
/* .centralize{
  margin: 0 auto;
  width: auto;
} */
@font-face {
    font-family: Blanka;
    src: url("Raxtor-Regular.otf") format("opentype");
}

.nav li{
  font-family: Blanka !important;
}

/* Full Page Carousel itself*/
.carousel {
  height: 100%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 18px;
  
}
  /* rgba(0, 0, 0, 0.2) */

.top-nav-collapse {
  background-color: #150f21; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #150f21; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #150f21; }

/* .video-container {
  width: 100%;
  max-height: 1000px;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -100;
} */

/* 1C2331 */